{% extends 'dashboard.html.twig' %}

{% block title %}Depot index{% endblock %}

{% block body %}

<input type="text" id="search" class="form-control" placeholder="Search">


        {% for message in app.flashes('info')  %}
        <div class="alert-success" role="alert">
            {{ message }}
            {% endfor%}
        </div>

    <h1>List des Depots </h1>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <table id="tableac" class="table table-striped table-advance table-hover">

        <thead>
            <tr>
                <th>Id</th>
                <th>Capacité</th>
                <th>Catégorie</th>
                <th>Localisation</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for depot in depots %}
            <tr>
                <td>{{ depot.id }}</td>
                <td>{{ depot.Capacite }}</td>
                <td>{{ depot.Categorie }}</td>
                <td>{{ depot.Localisation }}</td>
                <td>{{ depot.Etat }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('depot_show', {'id': depot.id}) }}">show</a>
                    <a class="btn btn-outline-warning" href="{{ path('depot_edit', {'id': depot.id}) }}">edit</a>
                    <a class="btn btn-danger" href="{{ path('depot_delete', {'id': depot.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tableac tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found == 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>
    </table>
        <div class="navigation">
            {{ knp_pagination_render(depots) }}
        </div>
    <a class="btn btn-dark" href="{{ path('depot_new') }}">Create new</a>
    <a class="btn btn-dark" href="{{ path('depot_list') }}">Imprimer</a>
{% endblock %}
