{% extends 'dashboard.html.twig' %}

{% block title %}Depot{% endblock %}

{% block body %}
    <h1>Depot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depot.id }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ depot.Capacité }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ depot.Catégorie }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ depot.Localisation }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ depot.Etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('depot_index') }}">back to list</a>

    <a href="{{ path('depot_edit', {'id': depot.id}) }}">edit</a>

    {{ include('depot/_delete_form.html.twig') }}
{% endblock %}
