{% extends 'dashboard.html.twig' %}

{% block title %}User Info{% endblock %}

{% block body %}
    <h1>User Info</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ user.getFirstName() }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.getLastName() }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.getEmail() }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ user.getNumber() }}</td>
            </tr>

            <tr>
                <th>Username</th>
                <td>{{ user.getUsername() }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.getPassword() }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.getRole() }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ user.getBirthday()|date("m/d/Y") }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" href="{{ path('user') }}">back to list</a>
    </div>



{% endblock %}
