<link href="{{ asset("Signup/material-design-iconic-font.css")}}" rel="stylesheet" media="all">
<link href="{{ asset("Signup/font-awesome.min.css") }}" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="{{ asset("Signup/select2.min.css") }}" rel="stylesheet" media="all">
<link href="{{asset("Signup/daterangepicker.css") }}" rel="stylesheet" media="all">

<!-- Main CSS-->
<style>
    .bg-gra-03
    {
        background: linear-gradient(to top right, #FED501 0%, #121212 100%) !important;
    }
    .btn {
        text-transform: uppercase;
        border-radius: .15rem;
        width: 200px;
        padding: .150rem .75rem;
        margin: 30px auto;
        font-family: 'PT Sans', sans-serif;
        letter-spacing: 2px;
    }

    .btn-primary {
        border-color: rgba( 255, 255, 255, 0);
        background: #f1da36; /* Old browsers */
        background: -moz-linear-gradient(left, #f1da36 0%, #fca86c 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f1da36 0%,#fca86c 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f1da36 0%,#fca86c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
        Color format:     Comments
    }

    .btn-primary:hover {
        border-color: rgba( 255, 255, 255, 0);
    }

    #main .btn-primary {
        width: 100%;
    }
    #secondary .btn-primary {
        background: #f8f9fa4f;
        color: #000;
    }
</style>
<link href="{{asset("Signup/main.css" )}}" rel="stylesheet" media="all">
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">SignUp</h2>
            </div>
            <div class="card-body">
                {{ form_start(form_user,{'attr':{'novalidate': 'novalidate'}}) }}
                <div class="form-row m-b-55">
                    <div class="name">Name</div>
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group-desc">

                                    {{ form_widget(form_user.first_name,{'attr': {'class': 'input--style-5' }}) }}

                                    <label class="label--desc">{{ form_label(form_user.first_name) }}</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group-desc">
                                    {{ form_widget(form_user.last_name,{'attr': {'class': 'input--style-5' }}) }}
                                    <label class="label--desc">{{ form_label(form_user.last_name) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">{{ form_label(form_user.username) }}</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form_user.username, {'attr': {'class': 'input--style-5' }}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">{{ form_label(form_user.password) }}</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form_user.password, {'attr': {'class': 'input--style-5' }}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">{{ form_label(form_user.email) }}</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form_user.email,{'attr': {'class': 'input--style-5' }}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">{{ form_label(form_user.number) }}</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form_user.number,{'attr': {'class': 'input--style-5' }}) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">{{ form_label(form_user.birthday) }}</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form_user.birthday,{'attr': {'class': 'input--style-5' }}) }}
                        </div>
                    </div>
                </div>
                {% set formErrors=form_errors(form_user.captchaCode) %}
                {% if formErrors|length %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in formErrors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-row">
                    <div class="name">{{ form_label(form_user.captchaCode) }}</div>
                    <div class="value">
                        <div class="input-group">
                            {{ form_widget(form_user.captchaCode,{'attr': {'class': 'input--style-5' }}) }}
                        </div>
                    </div>
                </div>


                <div>
                    {{ form_widget(form_user.signup,{'attr': {'class': 'btn btn-primary' }})  }}
                </div>
                {{ form_end (form_user) }}
            </div>
        </div>
    </div>
</div>